name: C++ with CMake CI

on: [push, pull_request]

jobs:
  bowling:
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: mkdir bowling/build 
      run: mkdir bowling/build
    - name: Compile
      working-directory: bowling/build
      run: |
        cmake ..
        make
    - name: Run test 
      working-directory: bowling/build
      run: ctest -V
